#myid{
text-align:center;
margin-top:3px;
margin-bottom:6px;
font-family:vijaya;
font-size:14px;
}
.myclass{
font-family:vijaya;
font-size:19px;
color:blue;
text-align:left;
}
.back{
background-color:yellow;
}
b,h3,h2
{
font-family:vijaya;
font-size:30px;
color:red;
text-align:center;
}
*
{
text-align:center;
margin-top:3px;
margin-bottom:6px;
font-family:vijaya;
font-size:14px;
background-color:yellow;
}



